<% if(admin) { %>
    <li class="mb-4"><a href="/dashboard/posts" class="block py-2.5 px-4 rounded hover:bg-gray-700">Posts</a></li>
    <li class="mb-4"><a href="/dashboard/room" class="block py-2.5 px-4 rounded hover:bg-gray-700">Roome</a></li>
<% } %>
