<% if (owner) { %>
    <li class="mb-4"><a href="/dashboard/newAdmin" class="block py-2.5 px-4 rounded hover:bg-gray-700">add Admin</a></li>
    <li class="mb-4"><a href="/dashboard/posts" class="block py-2.5 px-4 rounded hover:bg-gray-700">Posts</a></li>
    <li class="mb-4"><a href="/dashboard/room" class="block py-2.5 px-4 rounded hover:bg-gray-700">Room</a></li>

<% } %>
